@tailwind base;
@tailwind components;
@tailwind utilities;



nav{
        position: absolute;
        /* top: 0;
        left: 0; */
        width: 100%;
        z-index: 2;
}

.buttonContainer{
        z-index: 50;
}

ul{
        /* position: absolute; */
        /* z-index: 2; */

}

